@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin header-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: -2px;

    @media screen and (min-width: 48rem) {
        font-size: 3.5rem;
    }
}

@mixin header-text {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: -0.6px;
}

@mixin text {
    font-size: 1.063rem;
    line-height: 1;
    letter-spacing: 0;
}