$white: #fff;

$purple-100: #f7f2f7;
$purple-300: #927b91;
$purple-900: #512051;

$pink-400: #ee69a4;

$orange-400: #ef9546;

$gradient-1: linear-gradient(to bottom right, #512051, #8a4389);

$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-600: 3rem;
$spacing-1200: 6rem;

$breakpoint-tablet: 48rem;
$breakpoint-laptop: 64rem;